
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: rgba(140, 198, 62, .1); */
    padding: 0 5%;
    text-align: right;
}

.button {
    background: transparent;
    border: none;
    margin: auto;
    padding: 10px 0;
    font-size: 2em;
    /* color: whi565656te; */
}
.button:hover {
    color: #222222;
    text-decoration: underline;
}